body {
    background: lightblue;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.logo {
    height: 150px;
    width: 150px;
}

.heading {
    position: absolute;
    top: 0;
}

#timer{
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
}

.game-area {
    position: relative;
    background: white;
    border: 5px solid #000;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    height: 50%;
    width: 80%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 5px;
    border-radius: 10px;

}

#startbtn {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 50px;
}

#nextbtn{
    font-size: 25px;
    font-weight: bold;
    padding: 20px 50px;
}

#finishbtn{
    font-size: 25px;
    font-weight: bold;
    padding: 20px 50px;
}

#retrybtn{
    font-size: 25px;
    font-weight: bold;
    padding: 20px 50px;
}

#question-area {
    margin-bottom: 40px;
}



.questionAnswers {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 5px;
}

.questionAnswer {
    margin: 5px 0;
}

.questionInput {
    margin-right: 5px;
}

.controls-area {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 50%;
}

.game-area.correct {
    background-color: green;
}

.game-area.incorrect {
    background-color: #f4807f;
}

.correct-answer {
    color: green;
    font-weight: bold;
}